
body, html {
  height: 100%;
}
body {
  font-family: helvetica, sans-serif;
  margin: 0 auto;
  background-size: cover;

}
.jumbotron{
  background-color: transparent !important;
  background-size: cover;
  width: 100%
}
h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 100px;
  color: #984B43;
  margin: 10px 0 10px 0;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 50px;
  color: #984B43;
  margin: 10px 0 10px 0;
}
h3 {
  text-align: center;
  color: #984B43;
}
p{
  text-align: center;
  font-size: 20px;
  color: #233237;
}
.row {
   margin: 10px 10px 10px 10px;
}
.container{
    margin: 0 auto;
   }
img{
  width: 500px;
  height: 500px;
}
div{
  text-align: center;
}
