body {
  font-family: helvetica, sans-serif;
  margin: 0 auto;
  max-width: 800px;
  background: #232323;
}
.jumbotron{
  background-color: transparent !important;
  background-size: cover;
  padding-bottom: 20%;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 75px;
  color: #aaaaaa;
  margin: 20px 0 0 20px;
}
h2 {
  text-align: center;
  color: #aaaaaa;
  margin: 20px 0 0 20px;
}
img{
  height: 300px;
  width: 300px;
}
div{
  color: #aaaaaa;
  text-align: center;
  display: block;
}
row{
  height: 200px;
  width: 800px;
}
